.spell-list-container {
  margin: 15px;
  padding: 15px;
}
.spell-level {
  cursor: pointer;
  &:hover {
    color: #555;
    text-decoration: underline;
  }
}

.level {
  padding: 2px 4px;
  width: 28px;
  height: 28px;
  margin: 2px;
  cursor: pointer;
  &:hover {
    color: #555;
    text-decoration: underline;
  }
}

.selected-level {
  background-color: #34ABCD;
  border-radius: 4px;
}

.form-group-inline {
  display: inline-block;
  margin-left: 36px;
}

label {
  margin: 4px;
}
