.title-box {
  margin: auto;
  text-align: center;
  background-color: black;
  opacity: .5;
  border-radius: 8px;
  width: 600px;
  height: 250px;
  margin-top: 125px;
  padding-top: 75px;
  .title {
    color: white;
    font-size: 72px;
    font-style: verdana;
  }
}
