<div class="outer-container">
  <div class="container">
    <div class="title-box">
      <!-- <h1 class="title">Charlotte Tabletop RPGs</h1> -->
    </div>
  </div>
</div>
<div class="container">
  <h1>What we're about</h1>
  <p>Do you crave the roll of a dice? Groups of people who laugh at messing with the dungeon master's plans? Love of D&D, call of Cthulhu, mutants and masterminds (to name a few)? Then this group is for you!</p>
  <p>We also have Facebook and Discord resources: <a target="_blank" href="https://www.facebook.com/groups/333726544117268/">Facebook</a> | <a target="_blank"  href="https://discordapp.com/channels/542872027027996673/542872027027996675">Discord</a></p>
</div>
